<div>
    <h1>Персональний менеджер фінансів</h1>
    <p>це інформаційна система, для контролю персональних фінансів (витрат /
    доходів)</p>

    <div>
    <%= link_to "Створити нову транзакцію", new_operation_path, class: "btn btn-success" %>
    </div>
</div>