<h1>редагування категорії</h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "показати категорію", @category %> |
  <%= link_to "повернутись до категорій", categories_path %>
</div>
