<p style="color: green"><%= notice %></p>

<h1>категорії</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "показати категорію", category %>
    </p>
  <% end %>
</div>

<%= link_to "нова категорія", new_category_path %>
