<div>
  <%= link_to "нова категорія", new_category_path, class: "btn btn-success" %>
</div>

<br>

<div class="text-center" id="categories">
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">ім'я</th>
        <th scope="col">опис</th>
        <th scope="col">управління</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @categories.each do |category| %>
          <%= render category %>
        <% end %>
      </tr> 
    <tbody>   
  </table>  
</div>



