<div class="field">
    <%= label :date_from, "Дата з:" %>
    <%= date_field_tag 'date_from', Date.today, class: 'form-control' %>
    </div>
    <div class="field">
    <%= label :date_to, "Дата по:" %>
    <%= date_field_tag 'date_to', Date.today, class: 'form-control' %>
</div>
<br>
