<br>
 <div class="form-check">
    <%= radio_button_tag :spend_earn, 0, true, class: "form-check-input" %>
    <%= label :spend_earn, "Витрата", value: false %>
</div>
<div class="form-check">
    <%= radio_button_tag :spend_earn, 1, false, class: "form-check-input" %>
    <%= label :spend_earn, "Дохід", value: true %>
    </div>
<br>
