<div>
  <%= link_to "нова транзакція", new_operation_path, class: "btn btn-success" %>
</div>

<br>

<div class="text-center" id="operations">
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">опис</th>
        <th scope="col">тип</th>
        <th scope="col">сума</th>
        <th scope="col">категорія</th>
        <th scope="col">дата</th>
        <th scope="col">управління</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @operations.each do |operation| %>
          <%= render operation %>
        <% end %>
      </tr>
    </tbody>
  </table>  
</div>
