<p style="color: green"><%= notice %></p>

<h1>транзакції</h1>

<div id="operations">
  <% @operations.each do |operation| %>
    <%= render operation %>
    <p>
      <%= link_to "показати транзакцію", operation %>
    </p>
  <% end %>
</div>

<%= link_to "нова транзакція", new_operation_path %>
